/*@font-face{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://diana-diana-dev.github.io/Help_animals/fonts/gilroy-regular.woff2') format('woff2'),
      url('https://diana-diana-dev.github.io/Help_animals/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src: url('https://diana-diana-dev.github.io/Help_animals/fonts/gilroy-ultralight.woff2') format('woff2'),
      url('https://diana-diana-dev.github.io/Help_animals/fonts/Gilroy-UltraLight.woff') format('woff');
}
@font-face{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://diana-diana-dev.github.io/Help_animals/fonts/gilroy-bold.woff2') format('woff2'),
      url('https://diana-diana-dev.github.io/Help_animals/fonts/Gilroy-Bold.woff') format('woff');
}
@font-face{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://diana-diana-dev.github.io/Help_animals/fonts/gilroy-medium.woff2') format('woff2'),
      url('https://diana-diana-dev.github.io/Help_animals/fonts/Gilroy-Medium.woff') format('woff');
}
@font-face{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://diana-diana-dev.github.io/Help_animals/fonts/gilroy-semibold.woff2') format('woff2'),
      url('https://diana-diana-dev.github.io/Help_animals/fonts/Gilroy-SemiBold.woff') format('woff');
}
*/

*{
  padding: 0px;
  margin: 0px;
}

body{
 background: #E5E5E5
 margin: 0 auto;
 font-family: Noto Sans, Arial;
}
a{
  text-decoration: none;
}
.wrapper{
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-right: 120px;
  padding-left: 120px;

}
.picture_yellow{
  position: absolute;
  width: 586px;
  height: 586px;
  top: 0;
  right: 0px;
}
.picture_yellow img{
  width: 100%;
}
.picture_orange{
position: absolute;
width: 586px;
height: 586px;
/*left: 885px;*/
top: 0px;
right: 0px;

/*background: radial-gradient(57.68% 57.68% at 61.69% 45.14%, #EC4E20 2.48%, rgba(245, 198, 29, 0) 76.04%, rgba(196, 196, 196, 0) 100%);*/
}

.picture_orange img{
 width: 100%; 
}
 
 /* .conteiner{
  max-width: 1440px;
  margin: 0px auto;
 
}*/
.header{
  width: 100%;
  top: 0;
  left: 0;
}
.header__body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;
 


}
.header__list{
  display: flex;



  
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 60px;


  
}

.header__link{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 133.2%;
text-transform: uppercase;
color: #212121;
text-decoration: none;
}

.header__link:hover{
 text-shadow: orange 10px 10px 20px;  
}

/*.header__menu{
  display: flex;
  left: 0;
  width: 60%;
  justify-content: space-between;
}*/
.header__sign{
  display: flex;
  width: 158px;
  height: 46px;
  left: 1162px;
  top: 25px;
  justify-content: center;
  border: 1px solid #212121;
  box-sizing: border-box;
}
.header__sign_up{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 162.2%;
display: flex;
align-items: center;
text-align: center;
text-decoration: none;


color: #212121;

}
.h1{
  font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 136%;
text-transform: uppercase;
color: #212121;
margin-bottom: 70px;
padding-right: 7%;
}

.table{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.item_1{
  grid-row: 1/3;
  border: 1px solid #212121;
  

}
.item_text1{
  font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 133.2%;
display: flex;
align-items: center;
justify-content: center;
color: #212121;
padding-left: 35px;
padding-top: 60px;
padding-right: 115px;
margin-bottom: 27px;
}
.header__sign1{
  display: flex;
  width: 158px;
  height: 46px;
  left: 1162px;
  top: 25px;
  justify-content: center;
  border: 1px solid #212121;
  box-sizing: border-box;
  margin-left: 35px;
  margin-bottom: 95px;
}



.item_2{
display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_2 img{
  display: flex;
  width: 62px;
height: 55px;
padding-left: 69px;
}

.item_text2{
  font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 133.2%;
/* or 21px */
color: #212121;
padding-left: 23px;
padding-right: 39px;

}

.item_3{
  display: flex;
  border: 1px solid #212121;
  align-items: center;
}

.item_3 img{
  display: flex;
  width: 62px;
height: 60px;
padding-left: 80px;
}

.item_text3{
  font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 133.2%;
/* or 21px */
color: #212121;
padding-left: 24px;
padding-right: 47px;

}

.item_4{
  display: flex;
  border: 1px solid #212121;
  align-items: center;
}

.item_4 img{
  display: flex;
  width: 62px;
height: 56px;
padding-left: 69px;
}

.item_text4{
  font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 133.2%;
/* or 21px */
color: #212121;
padding-left: 24px;
padding-right: 70px;


}

.item_5{
  display: flex;
  border: 1px solid #212121;
  align-items: center;
}

.item_5 img{
  display: flex;
  width: 61px;
height: 50px;
padding-left: 80px;
}

.item_text5{
  font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 133.2%;
/* or 21px */
color: #212121;
padding-left: 24px;
padding-right: 65px;

}
.chooseWay_H2{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 136%;
text-transform: uppercase;
color: #212121;
margin-top: 90px;
margin-bottom: 36px;
padding-right: 20%;
}

.chooseWay_text{
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
/*text-transform: capitalize;*/
color: #212121;
margin-bottom: 37px;
}

.ways{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #212121;
  /*grid-template-rows: 167px 167px;*/
}




.waysDudlingImg{
  max-width: 339px;
  max-height: 339px;
  padding: 30px 30px 14px 30px;
}
.waysDudlingImg img{
   width: 100%;
  height: auto;
}

.waysDudlingName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}
.waysDudlingText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}
.waysDudlingBorder{
border: 1px solid #212121;
margin: 19px 30px 49px 30px;

}

.paintsAnimalsImg{
  max-width: 339px;
  max-height: 339px;
  padding: 30px 30px 14px 30px;
}
.paintsAnimalsImg img{
   width: 100%;
  height: auto;
}
.paintsAnimalsName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}

.paintsAnimalsText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}
.paintsAnimalsBorder{
border: 1px solid #212121;
margin: 19px 30px 49px 30px;

}
.oilPaintingImg{
  max-width: 339px;
  max-height: 339px;
  padding: 30px 30px 14px 30px;
}
.oilPaintingImg img{
   width: 100%;
  height: auto;
}

.oilPaintingImgName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}

.oilPaintingImgText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;

}
.oilPaintingBorder{
  border: 1px solid #212121;
  margin: 19px 30px 49px 30px;
}


.foodIllustrationImg{
  max-width: 339px;
  max-height: 339px;
 padding: 30px 30px 14px 30px; 
}
.foodIllustrationImg img{
   width: 100%;
  height: auto;
}

.foodIllustrationName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}

.foodIllustrationText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;

}

.foodIllustrationBorder{
  border: 1px solid #212121;
  margin: 19px 30px 49px 30px;
}

.vocalLessonsImg{
  max-width: 339px;
  max-height: 339px;
 padding: 30px 30px 14px 30px; 
}
.vocalLessonsImg img{
  width: 100%;
  height: auto;
}

.vocalLessonsName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}

.vocalLessonsText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121; 
padding-left: 30px;
}

.vocalLessonsBorder{
  border: 1px solid #212121;
  margin: 19px 30px 49px 30px;
}

.musicImg{
  max-width: 339px;
  max-height: 339px;
  padding: 30px 30px 14px 30px;  
}

.musicImg img{
  width: 100%;
  height: auto;
}

.musicName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}

.musicText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 30px;
}

.musicBorder{
 border: 1px solid #212121;
  margin: 19px 30px 49px 30px; 
}



.ourTeam{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 162.2%;
text-transform: uppercase;
color: #212121;
margin-top: 90px;
margin-bottom: 36px;
}

.ourTarget{
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 138%;
display: flex;
align-items: center;
color: #212121;
width: 430px;
margin-bottom: 36px;
}

.tableTeachers{
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
border: 1px solid #212121;
}

.tableTeachers a:focus{
  background: radial-gradient( #EC4E20 1%, rgba(245, 198, 29, 0) 100%, rgba(196, 196, 196, 0) 100%);
}

.tableTeachers a{
  text-decoration: none;
}

.description{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  border: 1px solid #212121;
}
.tableTeachers_1{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
border: 1px solid #212121;
display: flex;
align-items: center;
padding-left: 36px;
}




.tableTeachers_2{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
border: 1px solid #212121;
display: flex;
align-items: center;
padding-left: 36px;
}



.tableTeachers_3{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
border: 1px solid #212121;
display: flex;
align-items: center;
padding-left: 36px;
}



.tableTeachers_4{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
border: 1px solid #212121;
display: flex;
align-items: center;
padding-left: 36px;
}



.description{
  display: flex;
}

.descriptionImg{
  max-width: 278px;
  max-height: 278px;
  padding: 12px 61px 12px 61px;
}
.descriptionImg img{
  width: 100%;
  height: auto;
}


.descriptionPart{
  width: 50%;
  padding: 38px 70px 50px 0px;
}

.descriptionText{
/*width:330px;*/  
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 162.2%;
color: #212121;
padding-bottom: 30px;

}

.header__sign2{
  display: flex;
  width: 158px;
  height: 46px;
  justify-content: center;
  border: 1px solid #212121;
  box-sizing: border-box;
  
}

.courses{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 136%;
text-transform: uppercase;
color: #212121;
margin-top: 90px;
margin-bottom: 36px; 
}

.coursesText{
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 162.2%;
display: flex;
align-items: center;
color: #212121;
margin-bottom: 36px;
}

.logo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.logoGrid{
  display: flex;
  border: 1px solid #212121;
  justify-content: center;
  align-items: center;
}

.logo9{
  max-width: 292px;
  max-height: 122px; 
}

.logo1{
  max-width: 178px;
  max-height: 127px; 
}

.logo4{
  max-width: 281px;
  max-height: 97px; 
}

.logo2{
  max-width: 214px;
  max-height: 79px; 
}

.logo3{
  max-width: 170px;
  max-height: 93px; 
}

.logo5{
  max-width: 267px;
  max-height: 67px; 
}

.logo6{
  max-width: 263px;
  max-height: 150px; 
}

.logo8{
  max-width: 233px;
  max-height: 37px; 
}

.logo7{
  max-width: 115px;
  max-height: 114px; 
}

.blogName{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 162.2%;
text-transform: uppercase;
color: #212121;
margin-top: 75px;
margin-bottom: 36px;
}

.blogText{
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 138%;
display: flex;
align-items: center;
color: #212121;
margin-bottom: 36px;
}

.blogTable{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid #212121;
  margin-bottom: 90px;
  
}

.blogTable_01Name{
width: 25%;
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 101.7%;
color: #212121;

}

.blogTable_01{
  display: flex;
  padding: 45px 65px 62px 34px;
  border: 1px solid #212121;
}

.blogTable_01Img{
  max-width: 266px;
  max-height: 265px;
   
  padding-right: 67px;
}

.blogTable_01Img img{
  width: 100%;
  height: auto;
}

.blogTable_01Description{
  width: 50%;
}


.buttonText{
 display: flex; 
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 162.2%;
align-items: center;
text-align: center;
border: 1px solid #212121;
color: #212121;
padding: 10px 20px;
margin-top: 33px;
cursor: pointer;


}

.buttonText:hover{
  transform: scale(1.2) translateX(8px);
  transition: 0.3s;
}


#more{
  display: none;
}

#more2{
  display: none;
}

#more3{
  display: none;
}


.blogTable_02Name{
width: 25%;
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 101.7%;
color: #212121;

}

.blogTable_02{
  display: flex;
  padding: 45px 65px 62px 34px;
  border: 1px solid #212121;
}

.blogTable_02Img{
  max-width: 266px;
  max-height: 265px;
   
  padding-right: 67px;
}

.blogTable_02Img img{
  width: 100%;
  height: auto;
}

.blogTable_02Description{
  width: 50%;
}

  

.blogTable_03Name{
width: 25%;
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 101.7%;
color: #212121;

}

.blogTable_03{
  display: flex;
  padding: 45px 65px 62px 34px;
  border: 1px solid #212121;
}

.blogTable_03Img{
  max-width: 266px;
  max-height: 265px;
   
  padding-right: 67px;
}

.blogTable_03Img img{
  width: 100%;
  height: auto;
}

.blogTable_03Description{
  width: 50%;
}

.footerTable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #212121;
  margin-top: 90px;
}

.footerTablePhone{
  padding: 19px 20px 30px 20px;
 border: 1px solid #212121; 
}
.footerTablePhone1{
font-family: Noto Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 162.2%;
color: #212121;


}


.footerTablePhone2{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 162.2%;
color: #212121;

}


.picturesYellowLeftDown{
  position: absolute;
  left: -20%;
  top: 3950px; 
  width: 700px;
  height: 700px;
  background: radial-gradient(50% 50% at 50% 50%, #F5C61D 0%, rgba(196, 196, 196, 0) 100%);
  z-index: -1;
}
 .picturesYellowRight{
  position: absolute;
  right: 0;
  top: 1650px; 
  max-width: 700px;
  max-height: 700px;
  z-index: -1;
 }
 .picturesYellowRight img{
  width: 100%;
 }

.footer{
  position: relative;
}

.picturesYellowDown{
  position: absolute;
  max-width: 700px;
  max-height: 700px;
  left: -17%;
  bottom: 0;
  z-index: -1;
}
.picturesYellowDown img{
  width: 100%;
}


.picturesOrangeDown{
  position: absolute;
  max-width: 700px;
  max-height: 700px;
  left: -17%;
 bottom: 0;
  z-index: -1;
  
}

.picturesOrangeDown img{
  width: 100%;
}

.programmCours{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 90px;
  border: 1px solid #212121;
}
.item_11{
  grid-row: 1/3;
  border: 1px solid #212121;
  
}

.item_11Name{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 95.2%;
display: flex;
align-items: center;
color: #212121;
padding-top: 61px;
padding-left: 35px;
padding-right: 33px;
}
.item_11Text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 35px;
padding-top: 29px;
padding-right: 44px;
margin-bottom: 27px;
}


.item_12{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_12 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_12_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_13{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_13 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_13_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_14{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_14 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_14_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_15{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_15 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_15_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.timeTable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 1px solid #212121;
}

.section{
  display: block;
  border: 1px solid #212121;
  align-items: center;
  padding: 20px 0px 30px 36px;

}
.timeTableName{
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 162.2%;
  color: #212121;
}


.timeTableDescription{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 162.2%;
color: #212121;
}


/*.studentWorkName{
 font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 162.2%;
display: flex;
align-items: center;
text-transform: uppercase;
color: #212121; 
margin: 90px 0px 36px 0px;
}


.studentWorkTable{
/*  
  max-width: 1200px;
  max-height: 607px;
  display: flex;
  border: 1px solid #212121;
  padding: 30px;
  margin-bottom: 88px;

}

.blok1{
  width: 55%;
  padding-right: 30px;
  padding-left: 1px;
}


.blok3{
  display: flex;
 width: 55%;
  
  padding-right: 1px;
}

.studentWorkTable_1{
  grid-column: 1/3; 
  grid-row: 1/2;
  max-width: 569px;
  max-height: 230px;
  padding-bottom: 30px; 
}

.studentWorkTable_1 img{
  width: 100%;
}

.studentWorkTable_2{
 display: block;
 max-width: 540px;
 max-height: 547px; 
}

.studentWorkTable_2 img{
  width: 100%;
}

.studentWorkTable_3{ 
  max-width: 363px;
  max-height: 287px; 
  padding-right: 30px;
  padding-bottom: 1px;
}
.studentWorkTable_3{
  width: 67.3%;
}

.studentWorkTable_4{ 
 max-width: 176px;
 max-height: 287px; 
}
.studentWorkTable_4{
  width: 32.7%;
}*/




.studentWorkName{
 font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 162.2%;
display: flex;
align-items: center;
text-transform: uppercase;
color: #212121; 
margin: 90px 0px 36px 0px;
}


.studentWorkTable{
  display: grid;
 /* grid-template-columns: 32% 15.5% 47%;
  grid-template-rows: 26.5% 33%*/;

  grid-template-columns: minmax(181px, 363px) minmax(88px, 176px) minmax(270px, 540px);
  grid-template-rows: minmax(115px, 230px) minmax(144px, 287px);
  padding: 30px;
  /*max-height: 80.7vh;*/
  border: 1px solid #212121;
  margin-bottom: 88px;
  grid-gap: 30px;
  

}


.studentWorkTable_1{
  grid-column: 1/3; 
  grid-row: 1/2;
  max-width: 569px;
  max-height: 230px;
  margin: auto;
   
}

.studentWorkTable_1 img{
 /* object-fit: cover;*/
  width: 100%;
}

.studentWorkTable_2{
 grid-column: 3/4;
 grid-row: 1/3;
 max-width: 540px;
 max-height: auto; 
  margin: auto;
}

.studentWorkTable_2 img{
  /*object-fit: cover;*/
  width: 100%;
  height: auto;
}

.studentWorkTable_3{ 
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 363px;
  max-height: 287px; 
   margin: auto;
  
}
.studentWorkTable_3{
  /*object-fit: cover;*/
  width: 100%;
  
}

.studentWorkTable_4{ 
  grid-column: 2/3;
  grid-row: 2/3;
 max-width: 176px;
 max-height: 287px;
  margin: auto;
  
}
.studentWorkTable_4{
 /* object-fit: cover;*/
  width: 100%;
 
}


.AcvarName{
  display: flex;
}
.AcvarNameH1{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 133.5%;
text-transform: uppercase;
color: #212121;
margin-bottom: 70px;
margin-right: 15%;
max-width: 745px;

}
.AcvarNameText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
color: #212121;
margin-top: 24vh;
z-index: 2;
}

.programmCours2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid #212121;
  margin-bottom: 90px;
}
.item_21{
  grid-row: 1/5;
  border: 1px solid #212121;
  
}

.item_21Name{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 95.2%;
display: flex;
align-items: center;
color: #212121;
padding-top: 61px;
padding-left: 35px;
padding-right: 33px;
}
.item_21Text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 35px;
padding-top: 29px;
padding-right: 44px;
margin-bottom: 27px;
}

.item_22{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_22 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_22_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_23{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_23 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_23_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_24{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_24 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_24_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_25{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_25 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_25_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}

.item_26{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_26 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_26_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_27{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_27 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_27_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_28{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_28 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_28_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_29{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_29 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_29_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.vocalsName{
  display: flex;

}

.vocalsNameH1{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 136%;
text-transform: uppercase;
color: #212121;
margin-bottom: 70px;
margin-right: 15.5%;
max-width: 800px;

}
.vocalsNameText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
color: #212121;
margin-top: 17vh;
z-index: 2;
}



.musicName{
  display: flex;

}

.musicNameH1{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 133.5%;
text-transform: uppercase;
color: #212121;
margin-bottom: 70px;
margin-right: 13%;

}
.musicNameText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
color: #212121;
margin-top: 13vh;
z-index: 2;
}



.programmCours6{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid #212121;
  margin-bottom: 90px;
}
.item_61{
  grid-row: 1/5;
  border: 1px solid #212121;
  
}

.item_61Name{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 95.2%;
display: flex;
align-items: center;
color: #212121;
padding-top: 61px;
padding-left: 35px;
padding-right: 33px;
}
.item_61Text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 35px;
padding-top: 29px;
padding-right: 44px;
margin-bottom: 27px;
}

.item_62{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_62 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_62_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_63{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_63 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_63_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_64{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_64 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_64_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_65{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_65 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_65_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}

.item_66{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_66 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_66_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_67{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_67 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_67_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_68{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_68 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_68_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_69{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_69 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_69_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.foodName{
  display: flex;

}

.foodNameH1{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 133.5%;
text-transform: uppercase;
color: #212121;
margin-bottom: 70px;
margin-right: 2.5%;

}
.foodNameText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
color: #212121;
margin-top: 24vh;
z-index: 2;
}



.programmCours4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid #212121;
  margin-bottom: 90px;
}
.item_41{
  grid-row: 1/5;
  border: 1px solid #212121;
  
}

.item_41Name{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 95.2%;
display: flex;
align-items: center;
color: #212121;
padding-top: 61px;
padding-left: 35px;
padding-right: 33px;
}
.item_41Text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 35px;
padding-top: 29px;
padding-right: 44px;
margin-bottom: 27px;
}

.item_42{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_42 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_42_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_43{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_43 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_43_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_44{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_44 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_44_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_45{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_45 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_45_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}

.item_46{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_46 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_46_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_47{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_47 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_47_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_48{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_48 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_48_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_49{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_49 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_49_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}



.oilPaintingName{
  display: flex;

}

.oilPaintingNameH1{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 133.5%;
text-transform: uppercase;
color: #212121;
margin-bottom: 70px;
margin-right: 2.5%;

}
.oilPaintingNameText{
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
color: #212121;
margin-top: 24vh;
z-index: 2;
}



.programmCours3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid #212121;
  margin-bottom: 90px;
}
.item_31{
  grid-row: 1/4;
  border: 1px solid #212121;
  
}

.item_31Name{
font-family: Noto Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 95.2%;
display: flex;
align-items: center;
color: #212121;
padding-top: 61px;
padding-left: 35px;
padding-right: 33px;
}
.item_31Text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 157.2%;
display: flex;
align-items: center;
color: #212121;
padding-left: 35px;
padding-top: 29px;
padding-right: 44px;
margin-bottom: 27px;
}

.item_32{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_32 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_32_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_33{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_33 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_33_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_34{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_34 img{
 padding-left: 33px; 
  padding-right: 22px; 
}

.item_34_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}


.item_35{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_35 img{
 padding-left: 33px;
 padding-right: 22px; 
}

.item_35_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 57px;
padding-right: 50px;
margin-bottom: 27px;
}

.item_36{
  display: flex;  
border: 1px solid #212121;
align-items: center;

}
.item_36 img{
 padding-left: 33px;
padding-right: 22px;
}

.item_36_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}


.item_37{
 display: flex;  
border: 1px solid #212121;
align-items: center;
}
.item_37 img{
 padding-left: 33px;
  padding-right: 22px; 
}

.item_37_text{
 font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 133.2%;
color: #212121;
padding-top: 55px;
padding-right: 30px;
margin-bottom: 27px;
}






.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content{
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}
.popup:target .popup__content-1{
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content{
  background-color: #FFFFFF;
  color: #000;
  width: 525px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
  padding: 30px 40px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__content-1{
  background-color: #FFFFFF;
  color: #000;
  width: 1200px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
  padding: 30px 40px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close{
  position: absolute;
  right: 40px;
  top: 60px;
  font-size: 20px;
  color: #000;
  text-decoration: none;

}
.popup__title{

}
.popup__text{

}


.forma__title{

width: 388px;
height: 36px;
left: 40px;
padding-top: 20px;
padding-bottom: 20px;
font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 86%;
color: #B3B3B3;
margin-bottom: 8px;
}
.forma__line{
 height: 0px;
 left: 7.6%;
 right: 7.6%;
 border: 1px solid #F9B800;
 margin-bottom: 16px;

}
.forma__title-name{
width: 73px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 91%;
display: flex;
color: #242424;
margin-bottom: 4px;
}

.forma__text{
width: 402px;
left: 40px;
color: #6B6B6B;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
margin-bottom: 32px;

}

label{
width: 200px;
height: 16px;
left: 4px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 200%;
display: flex;
align-items: center;
color: #6B6B6B;
flex: none;
order: 0;
flex-grow: 0;
margin: 20px 0px;
}

input{
  display: block;
  width: 250px;
  margin: 25px 0px;
  border: none;
  border-bottom: 1px solid #212121;
}

.placeholder{
 height: 20px;
left: 16px;
right: 17px;
top: 10px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 143%;
color: #6B6B6B;
opacity: 0.7;
}
.forma__text-time{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 143%;
color: #242424;
padding-top: 22px;
padding-bottom: 16px;
}

.check{
  display: flex;
  /*align-items: center;*/
  padding: 12px 0px;
}
.input{
  display: flex;
  width: 16px;
  height: 16px;
  /*margin: 16px 0px;*/
  margin-right: 10px;

}

  /*border: 1px solid #F9B800;*/

.label{
left: 28px;
display: flex;
width: 90%;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #6B6B6B;
margin: 0px;
align-items: flex-start;

}

.btn{
display: block;
text-align: center;
margin-top: 30px;
width: 158px;
height: 37px;
left: 227px;
top: 240px;
border: 1px solid #212121;
box-sizing: border-box;
border-radius: 5%;
border-color:  #FF9633;
}

.btn:hover{
  background-image: radial-gradient(50% 50% at 50% 50%, #F5C61D 0%, rgba(196, 196, 196, 0) 100%);
}




.popup-submit{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup-submit:target{
  opacity: 1;
  visibility: visible;
}
.popup-submit:target .popup-submit__content{
  transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}
.popup-submit__area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-submit__body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup-submit__content{
  background-color: #FFFFFF;
  color: #000;
  width: 408px;
  box-shadow: 0px 0px 22px rgba(161, 161, 161, 0.25);
  border-radius: 5px;
  /*padding: 30px 40px;*/
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

}
.popup-submit__close{
  position: absolute;
  right: 30px;
  top: 40px;

}
.popup-submit__title{
  font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 91%;
display: flex;
align-items: center;
text-align: center;
color: #242424;
padding-top: 78px;
padding-bottom: 28px;
justify-content: center;
}
.popup-submit__text{
display: flex;
justify-content: center;
padding-bottom: 60px;
}

